/************************************/
/********Site: Mobile****************/
/************************************/

* {
    margin: 0;
}

/**********Header********************/

header {
    background-color: #f56b2a;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}

header button {
    margin-left: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 12px 12px;
    background-color: #fff;
    color: #f56b2a;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    height: 25px;
}


/**********Main content**************/

p {
    font-weight: bold;
    text-align: center;
}

strong {
    color: #f56b2a;
}

.deposit_research_buttons {
    text-align: center;
}

.deposit_research_buttons button {
    font-weight: bold;
    padding: 12px 20px;
    width: 320px;
    border-radius: 5px;
}

.deposit_button {
    background-color: #4183d7;
    color: #fff;
    border: none;
}

.research_button {
    background-color: #fff;
    color: #4183d7;
    border: thin solid #4183d7;
}

.region_selector_desktop {
    display: none;
}

.region_selector_mobile {
    display: block;
    text-align: center;
}

.edito {
    width: 80%;
    text-align: center;
}

.edito_img {
    width: 80%;
    margin: auto;
}
