/************************************/
/********Site: Mobile****************/
/************************************/

* {
    margin: 0;
}

/**********Header********************/

header {
    background-color: #f56b2a;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}

.logo {
    height: 25px;
}
