/************************************/
/********Site: Mobile****************/
/************************************/


* {
    margin: 0;
    font-family: sans-serif;
}





/**********Header********************/


header {
    background-color: #f56b2a;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav_menu {
    margin-left: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 12px 12px;
    background-color: #fff;
    color: #f56b2a;
    text-transform: uppercase;
    font-weight: bold;
    transition: 300ms;
}


.nav_menu:hover{
    background-color: #ccc;
    color: #3873bd;    
}


.signin {
    visibility: hidden;
}


.logo {
    height: 25px;
}






/**********Main content**************/


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    text-align: center;
    font-size: 14px;
    margin: 20px auto;
}


.orange {
    color: #f56b2a;
    font-weight: bold;
}


.deposit_research_buttons {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
}


.deposit_research_buttons button {
    font-weight: bold;
    padding: 12px 20px;
    width: 320px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.deposit_button {
    background-color: #4183d7;
    color: #fff;
    border: none;
    transition: 300ms;
}


.deposit_button:hover {
    background-color: #4c94ef;
}


.research_button {
    background-color: #fff;
    color: #4183d7;
    border: thin solid #4183d7;
    transition: 300ms;
}


.research_button:hover {
    background-color: #d9e6f7;
}


.map {
    order: 2;
}


.map img {
    display: block;
    margin: auto;
}


.region_selector_desktop {
    display: none;
}


.region_selector_mobile {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 95%;
    order: 3;
}


.region_selector_mobile select {
    background-color: #fff;
    width: 95%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}


.edito {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    order: 4;
}


.edito p {
    text-align: center;
    margin: 15px auto;
    font-weight: 600;
    font-size: 13px;
}


.edito_img {
    display: none;
}


.edito_img_mobile {
    width: 100%;
}





/**********Footer********************/


footer {
    background-color: #474747;
    height: 90px;
    display: flex;
    justify-content: space-between;
}


footer p {
    text-align: left; 
    color: #fff;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 20px;
}


.social_links {
    margin-right: 5px;
    margin-top: 20px;
}


.social_links img {
    width: 24px;
}








/************************************/
/********Site: Tablet****************/
/************************************/


/**********Main content**************/


@media screen and (min-width: 800px) {   
    .edito_img_mobile {
        display: none;
    }

    .edito_img {
        display: block;
        width: 100%;
    }
}
